.authorization{
    background-image: url('../src/svg/auth-bg.svg');
    display: block;
}
.registration{
    background-image: url('../src/svg/auth-bg.svg');
    display: none;
}

.header{
    width: 100%;
    height: 10%;

    display: flex;
    flex-wrap: nowrap;
}
.header-logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo>img{
    height: 50%;
}
.header-name{
    width: 100%;
    height: 100%;

    font-size: 4vw;
    font-weight: bold;

    display: flex;
    align-items: center;
    margin-left: 7px;
}
@media (max-height: 600px), (min-width: 990px) {
    .header-name{
        font-size: 2vw;
    }
}
.title{
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8vw;
    font-weight: bold;
}
@media (max-height: 600px), (min-width: 990px) {
    .title{
        font-size: 4vw;
    }
}

.form{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-reg{
    height: 60%;
}
.form-input, .form-button{
    width: 80%;
    max-width: 700px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
}
.form-input:hover .input-notification{
    transform: translate(0);
}
.input, .button{
    width: 100%;
    height: 50%;
}
.input-notification{
    width: fit-content;
    margin-top: 7px;
    transform: translateY(300px);
    transition: .3s;
}
.input-notification>p{
    color: #fff;
    font-size: 4vw;
    background-color: brown;
    padding: 5px;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}
@media (max-height: 600px), (min-width: 990px) {
    .input-notification>p{
        font-size: 2vw;
    }
}
input, button{
    width: 100%;
    height: 100%;
    padding: 9px;
    border-radius: 7px;
    background-color: #fff;
}
button{
    background-color: #131313a1;
    color: #fff;
    font-weight: bold;
    font-size: 5vw;
}
input{
    font-size: 3.5vw;
    padding-left: 20px;
}
@media (max-height: 600px), (min-width: 990px) {
    button{
        font-size: 2.5vw;
    }
    input{
        font-size: 1.7vw;
    }
}

.terms{
    width: 100%;
    height: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.terms-reg{
    height: 15%;
}
.terms-authorization{
    width: 80%;
    max-width: 700px;
    height: 30%;
    border-radius: 7px;
    background-image: url('../src/svg/main-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.terms-authorization>p{
    font-size: 5vw;
}
@media (max-height: 600px), (min-width: 990px) {
    .terms-authorization>p{
        font-size: 2.5vw;
    }
}

.footer{
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
}
.footer-reg{
    height: 5%;
}
.footer-box{
    width: 80%;
    max-width: 700px;
    height: 100%;

    border-top: 2px solid #ffffffa1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-box>p{
    font-size: 5vw;
    font-weight: bold;
}
.footer-box-reg>p{
    font-size: 3.1vw;
    font-weight: bold;
    text-align: center;
}
.footer-box-reg>p>span{

    display: inline-block;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;

    background-color: #157ae4;
}
@media (max-height: 600px), (min-width: 990px) {
    .footer-box>p{
        font-size: 2.5vw;
    }
    .footer-box-reg>p{
        font-size: 1.55vw;
    }
}

.rules-wrapper{
    width: 100%;
    height: 100%;
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    background-color: #fff;
}
.rules-text{
    width: 100%;
    height: 90%;
    overflow: auto;
    color: #383838;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.rules-text>p{
    margin-top: 10px;
    width: 90%;
}
.rules-button{
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.rules-button>button{
    width: 80%;
    height: 60%;

    background-image: url('../src/svg/main-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}