html, body{
    width: 100%;
    height: 100%;
    color: #fff;
}
.wrapper{
    width: 100%;
    min-height: 600px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
@media (max-height: 600px) {
    .wrapper{
        overflow-y: auto;
    }
}

.page{
    width: 100%;
    height: 100%;  
    background-repeat: no-repeat;
    background-size: cover;
}