.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #fff;
    z-index: 100;

    display: none;
}
.loader-img, .loader-curcle{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-img{
    height: 75%;
}
.loader-img>img{
    height: 70%;
    animation: anim-loader-img 19.7s forwards;
}
@keyframes anim-loader-img {
    /* 0% { transform: rotate(0deg) scale(1); } */
    100% { transform: rotate(23deg) scale(1.1); }
    /* 100% { transform: rotate(0deg) scale(1); } */
}

.loader-text{
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.loader-text>p{
    width: fit-content;
    background-color: #157ae4;
    padding: 6px;
    border-radius: 5px;
}

.loader-curcle{
    height: 20%;
}
.curcle{
    width: 90px;
    height: 90px;

    border-bottom: 5px solid #157ae4;
    border-radius: 50%;

    animation: anim-loader .7s infinite linear;
}
@keyframes anim-loader {
    100%{
        transform: rotate(360deg);
    }
}
.loader-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 10;
}
.loader-logo>img{
    height: 80%;
    margin-top: 30px;
    margin-left: 30px;
}

.loader-button>button{
    background-image: url('../src/svg/main-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}