
.window{
    width: 100%;
    height: 86%;
    display: none;
    overflow-y: auto;
}

.news-wrapper{
    width: 100%;
    height: calc(50% - 30px);

    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.news-wrapper:last-child{
    margin-bottom: 20px;
}
.news-item{
    width: 92%;
    height: 100%;

    background-image: url('../src/svg/main-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px black;
}
.news-item-title{
    width: 100%;
    height: 17%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4vw;
    font-weight: bold;
}
.news-item-title>p{
    width: 80%;
    text-align: center;
}
@media (max-height: 600px), (min-width: 990px) {
    .news-item-title{
        font-size: 2vw;
    }
}
.news-item-img{
    width: 100%;
    height: 83%;
    overflow: hidden;
    background-color: #ffffff81;
    position: relative;
}
.news-item-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;	
    animation: zoom-x 9s infinite;
}
@keyframes zoom-x {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.1) rotate(7deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
}
/* @keyframes zoom-y {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2) rotate(13deg);
    }
    100% {
      transform: scale(1);
    }
} */
.news-read{
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, 0);

    width: 100%;
    height: 23%;
    background-color: #0000007e;
    z-index: 10;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 5vw;
    transition: .3s;
}
@media (max-height: 600px), (min-width: 990px) {
    .news-read{
        font-size: 2.5vw;
    }
}
.news-read>p{
    margin-left: 20px;
}
.img-loader, .img-loader-table{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.img-loader-table{
    background-color: #ffffff00;
}
/* ============= Турнирная таблица ============ */
.table-wrapper{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.table-item{
    width: 100%;
    height: 8%;

    background-color: #fff;
    color: #383838;
    display: flex;
}
.table-item-child{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #383838;
    font-size: 5vw;
    font-weight: bold;
}
@media (max-height: 600px), (min-width: 990px) {
    .table-item-child{
        font-size: 1.5vw;
    }
}
.table-number{
    width: 12.5%;
    font-size: 5vw;
}
@media (max-height: 600px), (min-width: 990px) {
    .table-number{
        font-size: 2.5vw;
    }
}
.table-img{
    width: 12.5%;
    position: relative;
}
.table-img>img{
    height: 50%;
    opacity: 0;
}
.table-name{
    width: 50%;
    justify-content: flex-start;
    color: #002843;
}
.table-name>p{
    margin-left: 20px;
}
.table-i{
    width: 12.5%;
}
.table-o{
    width: 12.5%;
    height: 100%;
}
.bg-baltic-table{
    background-image: url('../src/svg/main-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px black;
    z-index: 5;
}
.text-table-baltic{
    color: #fff !important;
}






.main-footer{
    width: 100%;
    height: 7%;
    background-color: #0c4077;

    display: flex;
    flex-wrap: nowrap;
}
.navItem{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .4;
}
.navItem>img{
    height: 50%;
}